<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>349972751789-06sbjoigouol4ms2ombps89d3ik7k9q0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349972751789-06sbjoigouol4ms2ombps89d3ik7k9q0</string>
	<key>API_KEY</key>
	<string>AIzaSyCBoaRacVwLzi7U9y-p1mX8Re0Skw5SXB0</string>
	<key>GCM_SENDER_ID</key>
	<string>349972751789</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tamaisme.massenger</string>
	<key>PROJECT_ID</key>
	<string>react-native-college</string>
	<key>STORAGE_BUCKET</key>
	<string>react-native-college.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349972751789:ios:4767ffec47e76b292ded24</string>
</dict>
</plist>